body{
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTDrPXF1wDEthiTcYR1BAIYKnAD62h4OTDZiQ&usqp=CAU");
}
h1
{
  background-color: yellow;
}
p{
  background-color: pink;
}
h2
{
  background-color: pink;
}
